.CustomDialog {
    -fx-font-family: "Microsoft YaHei UI";
    -fx-font-size: 12px;
    -fx-background-color: #ff0000;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-color: #e0e0e0;
}

.dialog-pane > .button-bar > .container {
    -fx-padding: 0;
}